@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import "tailwindcss";
@tailwind utilities;

@theme {
    --color-neutral-900: #02012C;
    --color-neutral-800: #262540;
    --color-neutral-700: #302F4A;
    --color-neutral-600: #3C3B5E;
    --color-neutral-300: #ACACB7;
    --color-neutral-200: #D4D3D9;
    --color-neutral-0: #FFFFFF;

    --color-orange-500: #FF820A;

    --color-blue-500: #4658D9;
    --color-blue-700: #2B1B9C;

    --font-dm: 'DM Sans', sans-serif;
    --font-brico-grt: 'Bricolage Grotesque', normal;

    --spacing-0: 0;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1400: 112px;
    --spacing-1600: 128px;
    --spacing-1800: 140px;


}

@utility text-preset-1 {
    font-family: var(--font-dm);
    font-weight: 600;
    font-style: italic;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -2px;
}

@utility text-preset-2 {
    font-family: var(--font-brico-grt);
    font-weight: 800;
    font-style: normal;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: 0px;
}

@utility text-preset-3 {
    font-family: var(--font-dm);
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
}

@utility text-preset-4 {
    font-family: var(--font-dm);
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0;
}

@utility text-preset-5 {
   font-family: var(--font-dm);
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
}

@utility text-preset-6 {
    font-family: var(--font-dm);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
}

@utility text-preset-7 {
    font-family: var(--font-dm);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
}

@utility text-preset-8 {
    font-family: var(--font-dm);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
}